.container {
    text-align: center;
    background-color: #282c34;
}

.header {
background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.logoGambar {
    height: 40vmin;
    pointer-events: none;
}

